.footer
	padding: 20px 64px
	display: flex
	align-items: center
	justify-content: center

	position: fixed
	bottom: 0
	left: 0
	right: 0
	background-color: rgba(var(--primary-rgb), .9)
	backdrop-filter: blur( 2px )
	-webkit-backdrop-filter: blur( 2px )

.nav
	width: 100%
	&__list
		display: flex
		justify-content: space-between
		align-items: center

	&__item
		width: 30px
		height: 30px