.cinema-discover-card 
	display: flex
	flex-direction: column

	&__img 
		border-radius: 30px
		overflow: hidden
		object-fit: cover
		margin-bottom: 12px
		height: 184px

	&__title
		font-weight: 400
		font-size: 16px
		line-height: 19px
		letter-spacing: 0.02em
		color: #FFFFFF

		> span 
			color: #BCBCBC