<main>
	<div class="cinema-page__header">
		<svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="cinema-page__back">
			<path d="M15.2742 23.7561C16.2368 24.7176 16.2368 26.2759 15.3063 27.2706C14.825 27.7679 14.2153 28 13.5735 28C12.9639 28 12.3542 27.7679 11.9049 27.2706L0.706184 15.7655C0.25695 15.3014 0.000245306 14.6714 0.000245364 14.0083C0.000245422 13.3452 0.25695 12.7152 0.706184 12.251L11.9049 0.746C12.8355 -0.248671 14.3436 -0.248671 15.3063 0.746C16.2368 1.70752 16.2368 3.29899 15.2742 4.26051L5.8082 14.0083L15.2742 23.7561Z" fill="white"/>
		</svg>

		<div class="cinema-page__player">
			<img src="../../assets/img/cinema-page.jpg" alt="Cinema preview" class="cinema-page__preview">
			<button class="cinema-page__play-button">
				<img src="../../assets/icons/player-play.svg" alt="Play button">
			</button>
		</div>
	</div>
	<div class="cinema-page__content">
		<div class="container">
			<div class="cinema-page__global-info">
				<div class="row">
					<h2 class="text-medium">Star Wars: The Last Jedi</h2>
					<span class="cinema-page__quality text-regular">
						4K
					</span>
				</div>

				<div class="row">
					<div class="cinema-page__duration">
						<img src="../../assets/icons/clock.svg" alt="">
						<span>152 minutes</span>
					</div>

					<div class="cinema-page__rating">
						<img src="../../assets/icons/star.svg" alt="">
						<span>7.0 (IMDb)</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>