/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&display=swap')

:root
	--accent: #ff5e00
	--primary: #15141F
	--primary-rgb: 21, 20, 31
	--z-low: 0
	--z-medium: 50
	--z-hight: 100
	
* 
	list-style: none
	text-decoration: none
	padding: 0
	margin: 0
	box-sizing: border-box
	font-family: "Lato", sans-serif
	border: none
	font-smoothing: antialiased

h2 
	font-size: 24px
	line-height: 1.2
	font-weight: 600
	color: #fff

h3
	font-size: 20px
	line-height: 1.2

.container
	max-width: 1140px
	padding: 20px
	margin: 0 auto

.logo
	> span
		color: var(--accent)

.main 
	width: 100%
	min-height: 100vh
	padding: 44px 24px 75px
	background-color: var(--primary)
	